%br
.row.center-input
        .col-md-offset-2.col-md-8
                .text-center 
                        .jumbotron
                                %h1.custom-heading JetFuel
                                %small Exchange compact URLs for lengthy ones.
                        %form{role: "form", action: "/shorten", method: "POST"}
                                .form-group
                                        %input.form-control{type: "text", name: "url", placeholder: "Enter you url here"}
                                        %br
                                        %br
                                        %button.btn.btn-primary{type: "submit"} Shorten It ! 
