%html
        %head
                %title Jet Fuel
                %link{rel: "stylesheet", type: "text/css", href: "/bootstrap/css/bootstrap.min.css"}
                %link{rel: "stylesheet", type: "text/css", href: "/bootstrap/css/bootstrap-theme.min.css"}
                %link{rel: "stylesheet", type: "text/css", href: "/styles/base.css"}
        %body
                %nav.navbar.navbar-inverse{role: "navigation"}
                        %ul.nav.navbar-nav
                                %a.navbar-brand{href: "/"} JetFuel
                                %li.active
                                        %a{href: "/"} Home 
                                %li 
                                        %a{href: "/popular_urls"} Popular Urls 
                                %li 
                                        %a{href: "/my_urls"} My Urls 
                        %ul.nav.navbar-nav.navbar-right
                                - unless @user.username.eql?("anonymous")
                                        %li
                                                %a{href: "/my_urls"} 
                                                        = @user.username
                                        %li
                                                %a{href: "/signout"} Sign Out
                                - else                     
                                        %li
                                                %a{href: "/signin"} Sign In
                                        %li
                                                %a{href: "/signup"} Sign Up 

                .container
                        = yield
                %script{type: "text/javascript", src: "/bootstrap/js/bootstrap.js"}
