%p.text-center Here are your URLS

.row
        .col-md-12
                %table.table.table-stripped
                        %tr
                                %th Clicks
                                %th URL
                                %th Actions 
                        %tr
                                %td 200
                                %td http://www.google.com/
                                %td
                                        %a{href: "#"} Edit
                                        %br
                                        %a{href: "#"} Remove
