%p.text-center Here are most 20 popular urls

.row
        .col-md-12
                %table.table.table-striped
                        %tr
                                %th Clicks
                                %th URL
                        %tr
                                %td 200
                                %td http://www.google.com/
