%p.text-center
        Signup an account, so you get your own set of URLs private to you.
%br
%br

.row
        .col-md-offset-4.col-md-4
                %form{name: 'SignUpForm', role: "form", action: "/signup", method: "POST", onsubmit: "return validateForm();"}
                        .form-group
                                %label.data-label Username 
                                %input.form-control.form-data{type: "text", name: "user[username]", placeholder: "Enter username here.", onchange: "validateUsername(this);"}
                        .form-group
                                %label.data-label Vanity (optional)
                                %input.form-control.form-data{type: "text", name: "user[vanity]", placeholder: "Vanity string here." }
                        .form-group
                                %label.data-label Password
                                %input.form-control.form-data{type: "password", name: "user[password]", placeholder: "Enter password here", onchange: "validatePassword(this);"} 
                        .form-group
                                %label.data-label Confirm Password
                                %input.form-control.form-data{type: "password", name: "user[confirm_pass]", placeholder: "Confrim here.", onchange: "validateConfirmPassword(this);"}
                        %button.btn.btn-primary{id: "muchamba", onclick: "validateForm();"} Sign Up
        .col-md-offset-2.col-md-8
                %p.text-center.validation-error{id: "validationError"}
