body
{
	background-color:#EEEEEE;
}

.center-input
{
}

.custom-heading
{
	color:gray;
	font-family: agency fb;
	letter-spacing: 2px;
}

.validation-error
{
	color:red;
}

.custom-center-form
{
	margin-top:30%;
}

.custom-center-text
{
	margin-top:15px;
}

.custom-scrolled-content
{
	overflow-y:scroll;
	height:450px;
}

.footer 
{
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 50px;
	  background: -moz-linear-gradient(to bottom, #D5D5D5, #E3E3E3);
	  color:gray;
}




